<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/homepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id = "navbar">
        <img src = "https://cms.qz.com/wp-content/uploads/2015/03/brand_jordan_logo_black_original-cropped.jpg?quality=75&strip=all&w=1400">
        <div id = "n2">
            <h5 id = "first">Find a Store</h5>
            <h5>|</h5>
            <h5 id = "second">Help</h5>
            <h5>|</h5>
            <h5 id = "third">Join Us</h5>
            <h5>|</h5>
            <h5 id = "fourth">Sign In</h5>
        </div>
    </div>
    <div id = "navbar2">
        <img src = "https://logos-world.net/wp-content/uploads/2020/04/Nike-Logo-1971-present.jpg">
        <div id = "center">
            <h3>New & Featured</h3>
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Kids</h3>
            <h3>Sale</h3>
            <h3>SNKRS</h3>
        </div>
        <div id = "inputs">
            <div id = "search">
        <i class='bx bx-search'></i>
        </div>
        <input type = "text" placeholder="Search" name = "search">
        </div>
        <div id = "heart">
            <i class='bx bx-heart'></i>
        </div>
        <div id = "bag">
            <i class='bx bx-shopping-bag'></i>
        </div>
    </div>
    <div id = "navbar3">
        <div id = "content">
            <label>Move, Shop, Customise & Celebrate With Us</label>
            <p>No matter what you feel like doing today, It’s better as a Member.</p>
            <h5>Join Us</h5>
        </div>
    </div>
    <!--
    <div id = "photo">
        <img src = "https://cms.qz.com/wp-content/uploads/2015/03/brand_jordan_logo_black_original-cropped.jpg?quality=75&strip=all&w=1400">
        <div id = "info2">
            <h3>New Releases</h3>
            <h3>Jordan Sport</h3>
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Kids</h3>
        </div>
    </div>
-->
    <div id = "banner2">
    <div id = "banner">
    </div>
    <h5>SPORTS SHOES</h5>
    <h1>RUN IT UNTIL YOU WIN</h1>
    <label>High Quality Product with Boost Performance.</label><br>
    <button>Shop</button>
    </div>
    <div id = "banner3">
        <div id = "banner4">
        </div>
        <h1>CUSHIONING TO THE MAX</h1>
        <label>Coming 2.27</label><br>
        <button>Notify Me</button>
        </div>
        <div id = "banner5">
            <h3>Featured</h3>
            <div id = "box">
            <div id = "img1">
                <div id = "im1">
                </div>
                <h4>Lifestyle Running Shox</h4>
            </div>
            <div id = "img2">
                <div id = "im2">

                </div>
                <h4>Field General</h4>
            </div>
            <div id = "img3">
                <div id = "im3">

                </div>
                <h4>Swoosh 1</h4>
            </div>
            </div>
            </div>
</body>
</html>