<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/join.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id = "navbar">
        <img src = "https://cms.qz.com/wp-content/uploads/2015/03/brand_jordan_logo_black_original-cropped.jpg?quality=75&strip=all&w=1400">
        <div id = "n2">
            <a href = "/store"><h5 id = "first">Find a Store</h5></a>
            <h5>|</h5>
            <a href = "/help"><h5 id = "second">Help</h5></a>
            <h5>|</h5>
            <a href = "/join"><h5 id = "third">Join Us</h5></a>
            <h5>|</h5>
            <a  id = "register" href = "/register"><h5 id = "fourth">Sign In</h5></a>
        </div>
    </div>
    <div id = "navbar2">
        <img src = "https://logos-world.net/wp-content/uploads/2020/04/Nike-Logo-1971-present.jpg">
        <div id = "center">
            <h3>New & Featured</h3>
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Kids</h3>
            <h3>Sale</h3>
            <h3>SNKRS</h3>
        </div>
        <div id = "inputs">
            <div id = "search">
        <i class='bx bx-search'></i>
        </div>
        <input type = "text" placeholder="Search" name = "search">
        </div>
        <div id = "heart">
            <i class='bx bx-heart'></i>
        </div>
        <div id = "bag">
            <i class='bx bx-shopping-bag'></i>
        </div>
    </div>
    <div id = "navbar3">
        <div id = "content">
            <label>New Styles On Sale: Up To 40% Off</label>
            <p id = "shop">Shop All Our New Markdowns</p>
        </div>
    </div>
    <!--
    <div id = "photo">
        <img src = "https://cms.qz.com/wp-content/uploads/2015/03/brand_jordan_logo_black_original-cropped.jpg?quality=75&strip=all&w=1400">
        <div id = "info2">
            <h3>New Releases</h3>
            <h3>Jordan Sport</h3>
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Kids</h3>
        </div>
    </div>
-->
    <div id = "addition">
        <h2>Nike Membership</h2>
        <a href = "#">Sign Up</a>
    </div>
    <div id = "banner2">
    <div id = "banner">
    </div>
    </div>
    <h2 id = "member">Member Benefits</h2>
    <div id = "photos">
        <div id = "box1">
            <h3>Member Product</h3>
            <h1>Your Exclusive Access</h1>
            <button>Shop</button>
        </div>
        <div id = "box2">
            <h3>Nike By You</h3>
            <h1>Your Customisation Service</h1>
            <button>Customise</button>
        </div>
        <div id = "box3">
            <h3>Member Rewards</h3>
            <h1>How We Say Thank You</h1>
            <button>Celebrate</button>
        </div>
        </div>
        <h2 id = "member2">Members Also Get</h2>
        <div id = "rectangle">
            <div id = "big1">
                <img src = "https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_582,c_limit/355a6a9a-befc-4c3e-bf01-53f3cc3224f2/nike-membership.png">
                <h2 id = "hehe">Receiptless Returns</h2>
                <h2 id = "hehe2">Use the Nike App to return
                    or exchange, receipt-free.</h2>
            </div>
            <div id = "big2">
                <img src = "https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_582,c_limit/bf5e723e-8625-4444-bc6a-41d997b08619/nike-membership.png">
                <h2 id = "hehe">Member Experiences</h2>
                <h2 id = "hehe2">Join your community for
                    live, Member-only events.</h2>
            </div>
        </div>
        <div id = "line">
        </div>
        <h2 id = "connect">Connect Through Membership</h2>
        <div id = "connection">
            <div id = "first1">
                <img src = "https://wallpapercave.com/wp/wc1707719.png">
                <h2>Nike App</h2>
                <h3 id = "keep">Keep up daily with the best of Nike,personalised for you.</h3>
                <div id = "yo">
                    Explore
                </div>
            </div>
            <div id = "second1">
                <img src = "https://i.pinimg.com/736x/23/3b/15/233b15cebfac4661e121cb4be442e056.jpg">
                <h2>Nike Run Club</h2>
                <h3>Run with us in the Nike Run Club App</h3>
                <div id = "yo2">
                    Explore
                </div>
            </div>
            <div id = "third1">
                <img src = "https://i.scdn.co/image/ab6775700000ee85fbc3cd122c53917d8b29d91b">
                <h2>Nike Training Club</h2>
                <h3>Move with the Best in the Nike Training Club App</h3>
                <div id = "yo3">
                    Explore
                </div>
            </div>
        </div>
</body>
</html>