<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/password.css">
</head>
<body>
        <div id = "container">
             <div id = "logo">
                <img src = "https://logos-world.net/wp-content/uploads/2020/04/Nike-Logo-1971-present.jpg">
                <img src = "https://cms.qz.com/wp-content/uploads/2015/03/brand_jordan_logo_black_original-cropped.jpg?quality=75&strip=all&w=1400">
        </div>
        <h2>What's your password?</h2>
        <div id = "info">
        <label id = "email">xyz@gmail.com</label>
        <label id = "edit">Edit</label>
        </div>
        <input type = "password" name = "password" placeholder="Password*">
        <div id = "password">
        <a href = "#">Forgotten your password?</a>
        </div>
        <form action = "/" method = "get">
        <button id = "btn">Sign In</button>
        </form>
        </div>
</body>
</html>