<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/store.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id = "navbar">
        <img src = "https://cms.qz.com/wp-content/uploads/2015/03/brand_jordan_logo_black_original-cropped.jpg?quality=75&strip=all&w=1400">
        <div id = "n2">
            <h5 id = "first">Find a Store</h5>
            <h5>|</h5>
            <h5 id = "second">Help</h5>
            <h5>|</h5>
            <a href = "/join" id = "join"><h5 id = "third">Join Us</h5></a>
            <h5>|</h5>
            <a  id = "register" href = "/register"><h5 id = "fourth">Sign In</h5></a>
        </div>
    </div>
    <div id = "navbar2">
        <img src = "https://logos-world.net/wp-content/uploads/2020/04/Nike-Logo-1971-present.jpg">
        <div id = "center">
            <h3>New & Featured</h3>
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Kids</h3>
            <h3>Sale</h3>
            <h3>SNKRS</h3>
        </div>
        <div id = "inputs">
            <div id = "search">
        <i class='bx bx-search'></i>
        </div>
        <input type = "text" placeholder="Search" name = "search">
        </div>
        <div id = "heart">
            <i class='bx bx-heart'></i>
        </div>
        <div id = "bag">
            <i class='bx bx-shopping-bag'></i>
        </div>
    </div>
    <div id = "center2">
        <div id = "box1">
            <h3>Find a Nike Store</h3>
            <div id = "searchbar">
                <div id = "hello">
            <i class='bx bx-search'></i>
            </div>
            <input type = "text" placeholder="Search Location"><br>
        </div>
        <div id = "f1">
        <p>15 Stores Near You</p>
        <div id = "filter">
            Filter <i class='bx bx-filter-alt'></i>
        </div>
        </div>
        <hr>
        <div id = "mall1">
            <h4>Nike Vegas Mall</h4>
            <p>F 132 - 133, 1st Floor, Plot No 6</p>
            <p>Vegas Mall Dwarka, Sector-14(North)</p>
            <p>Delhi, Delhi, 110078, IN</p>
            <p><label>Closed</label> • Opens Tomorrow at 10:00 am</p>
        </div> 
        <hr>
        <div id = "mall1">
            <h4>Nike Kamla Nagar</h4>
            <p>41 UA, Bungalow Road,</p>
            <p>Jawahar Nagar Kamla Ngr, Malka Ganj</p>
            <p>Delhi, Delhi, 110007, IN</p>
            <p><label>Closed</label> • Opens Tomorrow at 10:30 am</p>
        </div> 
        </div>
        <div id = "box2">

        </div>
    </div>
    <!--
    <div id = "photo">
        <img src = "https://cms.qz.com/wp-content/uploads/2015/03/brand_jordan_logo_black_original-cropped.jpg?quality=75&strip=all&w=1400">
        <div id = "info2">
            <h3>New Releases</h3>
            <h3>Jordan Sport</h3>
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Kids</h3>
        </div>
    </div>
-->