*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width:100%;
    height:100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
}
#container{
    margin-top: -35px;
    width:500px;
    height:500px;
    padding:0px 10px;
}
#logo img{
    width:55px;
    height:35px;
}
#logo{
    display:flex;
    gap:5px;
}
#container h2{
    font-size:30px;
    margin-top: 35px;
    font-weight: 400;
}
#info{
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap:8px;
}
#edit{
    font-size:16px;
    text-decoration: underline;
    color:gray;
    transition: 0.1s;
}
#edit:hover{
    transition:0.1s;
    cursor: pointer;
}
#container input{
    margin-top: 35px;
    width:460px;
    height:55px;
    border-radius: 10px;
    padding:10px 10px;
    font-size:17px;
    border:1px solid gray;
    transition:0.1s;
}
#container input:hover{
    transition:0.1s;
    border:1px solid black;
}
#container a{
    text-decoration: none;
    color:rgb(114, 114, 114);
    text-decoration: underline;
}
#password{
    margin-top: 22px;
}
#btn{
    font-size:16px;
    margin-top:30px;
    width:100px;
    height:45px;
    border-radius: 50px;
    background-color: black;
    color:white;
    margin-left: 360px;
    border:transparent;
    transition:0.1s;
    font-weight: bold;
}
#btn:hover{
    transition:0.1s;
    cursor: pointer;
    background-color: gray;
}